@font-face {
  font-family: "Montserrat Regular";
  src: url("fonts/Montserrat-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Black";
  src: url("fonts/Montserrat-Black.woff") format("woff");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Bold";
  src: url("fonts/Montserrat-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Medium";
  src: url("fonts/Montserrat-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova Bold";
  src: url("fonts/ProximaNova-Bold") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
