body {
  min-width: $mobile-width;
  margin: 0;
  padding: 0;

  @include MontReg;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  min-height: auto;
}

.container {
  width: 300px;
  margin: 0 auto;
  padding: 0 10px;
}

@media (min-width: $tablet-width) {
  .container {
    width: 728px;
    padding: 0 20px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 1170px;
    padding: 0 15px;
  }
}
