.features__title {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;

  @include MontBold(24px, 30px);
  text-align: center;
}

.features__list-title {
  @include MontBold(12px, 20px);
  text-align: center;
  text-transform: uppercase;
}

.features__list {
  width: calc(100% - 20px);
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.features__list-item {
  position: relative;
  margin: 15px 0;
  padding-left: 25px;

  @include MontReg(14px, 22px);

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 9px;
    height: 14px;

    background-image: url("./icon-arrow-desktop.png");
  }
}

.features__wrapper-pict {
  min-height: 76vw;
  margin-bottom: 30px;

  background-image: url("./blonde-woman-mobile.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}


.features__note {
  padding: 0 30px;
  margin-bottom: 30px;

  @include MontReg(14px, 24px);
  text-align: center;
}

.features__button-mobile {
  width: 100%;
}

.features__button {
  display: none;
}

@media (min-width: $tablet-width) {
  .features__title {
    width: 540px;
    margin-bottom: 30px;

    @include MontBold(30px, 40px);
  }

  .features__list-title {
    margin-bottom: 30px;

    @include MontBold(14px, 20px);
  }

  .features__list {
    width: calc(100% - 228px);
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .features__list-item {
    padding-right: 40px;

    @include MontReg(16px, 22px);

    &::before {
      top: calc(50% - 7px);
    }
  }

  .features__wrapper-pict {
    min-height: 84vw;
    margin-bottom: 0;
    background-image: url("./blonde-woman-tablet.png");
  }

  .features__wrapper2 {
    position: relative;
  }

  .features__window {
    position: absolute;
    bottom: -90px;
    right: calc(50% - (600px / 2));
    width: 600px;
    padding: 20px;
    box-sizing: border-box;

    background-color: #ffffff;
  }

  .features__note {
    margin: 0;
    padding: 40px;

    @include MontReg(16px, 24px);
    text-align: left;

    border: 1px solid $green-txt;
  }

  .features__button {
    display: inline-block;
    width: 560px;
  }

  .features__button-mobile {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .features {
    display: flex;
    width: auto;
    max-width: 1720px;
    margin-bottom: 90px;
  }

  .features__wrapper1 {
    width: 500px;
    margin: 0;
    margin-left: 70px;
    padding: 0;
    padding-right: 15px;
    order: 2;
  }

  .features__title {
    width: 500px;
    margin: 30px 0;
    padding: 0;
    text-align: left;

    @include MontBold(40px, 50px);
  }

  .features__list-title {
    margin-bottom: 60px;
    text-align: left;
  }

  .features__list {
    width: auto;
  }

  .features__list-item {
    margin: 50px 0;
    padding-right: 0;
    padding-left: 50px;

    &::before {
      left: 5px;
    }
  }

  .features__wrapper-pict {
    min-height: 645px;

    background-image: url("./blonde-woman-desktop.png");
    background-position: top right;
    background-size: auto;
  }

  .features__wrapper2 {
    width: calc(50% + 15px);
  }

  .features__window {
    right: -1px;
    width: 600px;
    padding: 20px;
    box-sizing: border-box;

    background-color: #ffffff;
  }

  .features__note {
    border: 1px solid rgba($green-txt, 0.6);
  }

  .features__button {
    display: inline-block;
    width: 560px;
  }

  .features__button-mobile {
    display: none;
  }
}
